/* INITIALIZERS + DEFAULTS
 * ============================== */
 @import url('https://fonts.googleapis.com/css?family=Lekton:300,400,700,900');

 *, *:before, *:after {
   box-sizing: border-box;
 }
 
 html {
   font-size: 65%;
   cursor: url('/cursor.png')
 }
 
 body {
   margin: 0;
   padding: 0;
   font-weight: 400;
   cursor: url('/cursor.png')
 }

 * {
  cursor: url('/cursor.png')
 }
 
 a { 
   color: black;
   font-family: 'Arial';
 }

 ul { 
   margin: 0px;
   padding: 0px;
 }
 h1, h2, h3, h4, h5, p, input, label, select, button, td  { 
   color: black;
  font-family: 'Lekton', sans-serif;
 }

 td { 
   font-size: 1.5rem;
 }
select {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  /* appearance: none;  */
  cursor: pointer;
  padding: 5px;
  border-radius: 0;
  margin: 5px 0px;
}
 p, input, label { 
  font-size: 1.5rem;
 }
 
 p { margin: 0px; }
 img {
   display: block;
   max-width: 100%;
   max-height: 100%;
 }
 
 h1 {
   font-weight: 700;
   margin: 0;
   font-size: 3.2rem;
 }
 
 h2 {
   font-weight: 700;
   margin: 0;
   font-size: 1.8rem;
 }

h3 {
  font-weight: 700;
  margin: 0;
  font-size: 1.5rem;
}

h4 { 
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

h5 { 
  font-size: 2rem;
  font-weight: 400;
  margin: 0
}

 a { 
   text-decoration: none;
 }
 
 /* BASE APP
  * ============================== */

.hide { 
  visibility: hidden;
}
 .App__header {
  
   background-size: cover;
   color: black;
   padding: 10px 10px;
 }
 
 .App__nav{
   width: 100%;
   list-style: none;
 }
 
 .App__customer-actions {
   float: left;
   padding: 10px;
 }
 
 .App__title {
   padding: 80px 20px;
   text-align: center;
 }
 
 
 .App__view-cart-wrapper {
   float: right;
 }
 
 .App__view-cart {
   font-size: 15px;
   border: none;
   background: none;
   cursor: pointer;
   color: black;
 }

 .Logo__Yes {
  animation: float 3s ease-in-out infinite;
  
 }

 @keyframes float {
	0% {
	transform: translatey(0px) scale(0.65);
	}
	50% {
	
		transform: translatey(-20px)  scale(0.65);
	}
	100% {
		
		transform: translatey(0px)  scale(0.65);
	}
}
 
 .button {
   background-color: white;
   color: black;
   border: .5px solid grey;
   font-size: 1.5rem;
   padding: 20px 45px 20px 45px;
   cursor: pointer;
 }

 .text-button { 
   border: none;
   background-color: white;
   padding: none;
   height: 25px;
   cursor: pointer;
   text-align: left;
 }
  
 .login {
   font-size: 1.2rem;
   color: #b8b8b8;
   cursor: pointer;
 }
 
 .login:hover {
   color: white;
 }
 
 .Flash__message-wrapper {
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   align-items: flex-end;
   justify-content: center;
   position: fixed;
   bottom: 0;
   pointer-events: none;
   z-index: 227;
   left: 50%;
   transform: translateX(-50%);
 }
 
 .Flash__message {
   background: rgba(0,0,0,0.88);
   border-radius: 3px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   color: #ffffff;
   cursor: default;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: none;
   pointer-events: auto;
   position: relative;
   font-size: 20px;
   line-height: 28px;
   font-weight: 400;
   padding: 10px 20px;
   margin: 0;
 }
 
 .Flash__message--open {
   display: flex;
 }
 
 /* CART
  * ============================== */
 .Cart {
   height: 80%;
   width: 80%;
   background-color: white;
   display: flex;
   flex-direction: column;
   border-left: 1px solid #e5e5e5;
   transition: transform 0.15s ease-in-out;
   box-shadow: 0px 0px 4px #00000050, 0px 0px 10px 10px #00000015;
   z-index: 2;
   transform: scale(0)
 }

 .error {
   display: block;
   font-size: 15px;
   padding: 10px;
   position: relative;
   min-height: 2.64286em;
   background: #fbefee;
   color: #c23628;
 }

 /* pages */

.main-container { 
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.main-nav { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65vw;
  margin-top: 80px;
  max-height: 100px;
}

.home-icon { 
  position:absolute;
  margin-right: 15%;
  top: 40px;
  left: 300px;
  padding-bottom: 24px;
}

.sub-nav { 
  margin: 25px 0px;
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-evenly;
}

.shopping-cart-nav { 
  color: rgb(138, 206, 238);
}

.footer { 
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
  justify-content: center;
}

.footer-social-media { 
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.footer-logo { 
  margin: 0px 8px;
}

.footer-text { 
  font-weight: 500;
}

 /* stickerform page */
 .sticker-form { 
   max-width: 400px;
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
 }

 .sticker-form input { 
   width: 250px;
   border: 0px;
   background: #dadada;
   margin-left: 10px;
   /* float: right; */
 }

 .sticker-form input[type=submit] { 
   align-self: center;
   text-decoration: underline;
   background: none;
   font-weight: 700;
   margin-top: 20px;
 }

 .submitted-message { 
   margin-top: 30px;
 }

 .stickerform-container {
   display: flex;
   flex-direction: column;
   align-self: center;
   margin-top: 5rem;
   width: 400px;
 }

 /* about page */
 .about-container { 
  margin-top: 5rem;
   width: 800px;
   display: flex;
 }

 .about-description { 
   margin-left: 20px;
   width: 350px;
 }

 .about-description h3 { 
  font-size: 6rem;
}

/* music page */
.single-column-container { 
  display: flex;
  width: 600px;
  align-items: center;
  flex-direction: column;
}

.music-description { 
  margin: 20px;
  width: 400px;
  text-align: center;
}

.music-link { 
  text-decoration: underline;
}
/* shop page */
.grid-container {
  margin: 70px auto 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; 
  width: 1200px;
  min-height: 50vh;
  justify-items: center;
  /* align-items: center; */
}

/* product component */
.product-container { 
  position: relative;
  margin: 25px 40px;
}

.product-image-container { 
  position: relative;
}

.not-available { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
  /* color: #FFF; */
  background: rgba(255, 255, 255, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-preview-title { 
  margin: 12px 0px;
  width: 200px;
}

/* product page */
.product-page { 
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-top: 50px;
  width: 62vw;
  min-height: 50vh;
}

.product-details { 
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.product-buttons { 
  margin: 20px 0px;
}
.ks-table { 
  /* border: 1px solid black; */
  empty-cells: show;
  margin: 10px 0px 30px;
}
.table-cell {
  border: .1rem solid grey;
  padding: 10px 12px;
  margin: 0;
  border-spacing: 0;
  /* padding: 0; */
  border-collapse: collapse;
  /* display: block; */
}

/* cart page */
.cart-checkout-container { 
  margin: 50px 0px;
  width: 62vw;
}
.cart-grid { 
  display: grid;
  /* image, item name, quantity, price, remove */
  grid-template-columns: 20% auto 10% 10% 6%;
  min-height: 50px;
}
.cart-info-total { 
  grid-column-start: 3;
}
.cart-checkout { 
  margin: 30px 0px;
  display: flex;
  justify-content: flex-end;
}

.cart-update.button { 
  border: none;
  text-decoration: underline;
}

.cart-labels p { 
  font-weight: 700;
}

.cart-label-a { 
  grid-column-start: 2;
}

/* archive gallery page */
.gallery-view-container{ 
  top:0;
  left:0;

  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(214, 214, 214);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gallery-button { 
  cursor: pointer;
  background: transparent;
  border:none;
}

.gallery-button.chevron { 
  margin: 0px 25px;
  width: 100px;
}
.gallery-button.right.chevron { 
  transform: rotate(180deg);
}

.close { 
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
  width: 70px;
}
/* COMPONENTS */

/* line-item */
.line-item-img { 
  width: 160px;
}

.line-item-quantity { 
  width: 30px;
  height: 25px;
}

/* selector */
.product-selectors { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  flex-wrap: wrap;
  
}
.product-description { 
  margin: 25px 0px;
}

.product-option { 
  width: 100px;
}

/* gallery */
.product-active-image { 
  margin: 15px 50px;
  width: 480px;
  display: flex;
  object-fit: contain;

}

.secondary-images-container { 
  display: grid;
  align-items: center;
  grid-template-columns: 25% 25% 25% 25%;
}

.product-secondary-image { 
  margin: 0px 15px 0px 0px;
  cursor: pointer;
}
@media only screen and (max-width: 1025px) {
  .home-icon { 
    margin: 0;
    padding-bottom: 35px;
  }
  .main-nav { 
    margin-top: 4.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .table-cell { 
    padding: 8px;
  }
  td { 
    font-size: 1rem;
  }
  .text-button p{ 
    font-size: 1.5rem;
  }

  .button { 
    width: 76vw;
  }
  .about-container { 
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .about-description { 
    margin: 25px ;
    width: 400px;
  }
  .main-nav { 
    padding-left: 45px;
    width: 100%;
  }
  .sub-nav{ 
    width: 220px;
    flex-wrap: wrap;
  }

  .footer .sub-nav  { 
    width: 320px;
  }
  .footer { 
    margin: 40px 0px;
  }

  .home-icon { 
    width: 100px;
    top: 35px;
    left: 25px;
  }
  .sub-nav h2 { 
    margin: 8px 10px;
  }

  .stickerform-container {
    margin-top: 5rem;
    width: 80%;
  }

  .grid-container {
    margin: 40px 10px;
    /* display: block; */
    grid-template-columns: 50% 50%;
    width: 85vw;
  }

  .product-page { 
    flex-direction: column;
    width: 80vw;
  }


  .product-preview-title { 
    width: 150px;
  }

  .product-details { 
    margin-top: 20px;
  }

  .product-option { 
    width: 140px;
  }

  .product-selectors { 
    width: 76vw;
  }

  .product-container { 
    margin: 0px 0px 30px 0px;
    /* margin-bottom: 30px; */
  }

  .single-column-container { 
    width: 320px;
  }

  .music-description { 
    width: 320px;
    font-size: .6rem;
  }

  .cart-checkout-container { 
    width: 85vw;
  }

  .gallery-button.chevron { 
    margin: 0px;
    width: 100px;
  }


  .close { 
    margin: 28px;
    width: 50px;
  }

  .cart-labels.cart-grid { margin-top: 30px;}

  .cart-grid { 
    display: grid;
    /* image, item name, quantity, price, remove */
    grid-template-columns: 0% auto 25% 28% 18%;
    min-height: 50px;
  }

  .line-item-img { 
    visibility: hidden;
  }
}


@media only screen and (min-width: 441px) and (max-width: 768px) { 
  .main-nav { 
    justify-content: center;
    /* padding-right: 90px; */
  }
}

@media only screen and (max-width: 441px) {
  .about-description { 
    margin: 25px ;
    width: 320px;
  }

} 